.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.6) ;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height:180px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url("/public/images/rushinc.jpg");
}
.single-box:nth-child(2) .img-area{
    background-image: url("/public/images/vishal.jpg");
}
.single-box:nth-child(3) .img-area{
    background-image: url("/public/images/srishti.jpg");
}
.header-text{
    font-size: 24px;
    font-weight: 500px;
    line-height: 48px;
}
.img-text h3{
    margin: 10px 0;
}
.img-text p{
    font-size: 15px;
    font-weight: 400px;
    line-height: 30px;
}
   
  
  .about {
    margin-top: 1%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  

