.bannerDiv {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.bannerDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.fortCardDiv {
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
}
.fortDiv {
  margin-bottom: 50px;
}

.fortCardImg {
  height: 200px !important;
}
.fortCardDiv {
  transition: transform 0.5s ease-in-out;
}

.fortCardDiv:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
}
.homecardTitleDiv {
  font-size: 20px;
  padding: 5px 0;
  line-height: 20px;
  text-transform: none;
  margin: 0;
  display: inline;
  font-family: pn-semibold;
  white-space: normal;
  font-weight: 600;
}
.homeCardLocDiv {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #888;
  margin-top: 10px;
  overflow: hidden;
}
.homeBtnClass {
  text-decoration: none;
}
